<p>
  <b>Question:</b>
  <%= @qanda.question %>
</p>

<p>
  <b>Answer:</b>
  <%= @qanda.answer %>
</p>

<span id="author">Created by <%= @qanda.creator.email %></span>
<span id="editors">
  <% @qanda.editors.each do |editor| %>
    <br />Edited by <%= editor.email %>
  <% end %>
</span>

<%= link_to 'Edit', edit_qanda_path(@qanda) %> 
<%= link_to 'Destroy', qanda_path(@qanda), :method => :delete,  :confirm => 'Are you sure?'  %>
<%= link_to 'Back', qandas_path %>
