<p>
  <b>Question:</b>
  <%= @qanda.question %>
</p>

<p>
  <b>Answer:</b>
  <%= @qanda.answer %>
</p>


<%= link_to 'Edit', edit_qanda_path(@qanda) %> 
<%= link_to 'Destroy', qanda_path(@qanda), :method => :delete,  :confirm => 'Are you sure?'  %>
<%= link_to 'Back', qandas_path %>
